.classpath
.project
.settings
.tern-project
.mymetadata
.log
eclipsebin

bin
gen
build
out
lib

target
pom.xml.*
release.properties

.idea
*.log
*.iml
*.ipr
*.iws
classes
logs

obj

.DS_Store
*.pyc
./napm-comb-common/src/main/resources/*
